@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/*초기 설정*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: auto 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border-style: none;
}

/*variable*/
:root {
    /*color*/
    --primary-color: #3690ff;
    --base-color1: #f6f6f6;
    --base-color2: #e6e6e6;

    /*breakpoint*/
    --small: 480px;
    --medium: 768px;
    --large: 1280px;
}

/*스크롤바 디자인*/
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 2.5px;
}

*::-webkit-scrollbar-track {
    background-color: var(--base-color1);
    border-end-end-radius: 2.5px;
}

/*material design 아이콘*/
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

/*소셜 아이덴티티*/
.social-logo-img {
    height: 20px;
}
#kakao {
    background-color: #fee500;
    color: #191919;
}

#naver {
    background-color: #03c75a;
    color: #fff;
}

#google {
    background-color: #fff;
    color: #000;
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23)
}

#apple {
    background-color: #000;
    color: #fff;
}

#apple .social-logo-img {
    height: 40px;
}

/*기본 폰트 설정*/
html {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 12pt;
    line-height: 1.0;
}

h1 {
    font-weight: 900;
    font-size: 3.0rem;
}

h2 {
    font-weight: 800;
    font-size: 2.5rem;
}

h3 {
    font-weight: 700;
    font-size: 2.0rem;
}

h4 {
    font-weight: 600;
    font-size: 1.5rem;
}

h5 {
    font-weight: 600;
    font-size: 1.2rem;
}

h6 {
    font-weight: 600;
    font-size: 1.0rem;
}

figure {
    line-height: 1.6;
}

figure h1 {
    font-weight: 900;
    font-size: 3.0rem;
    margin-bottom: 16px;
}

figure h2 {
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 16px;
}

figure h3 {
    font-weight: 700;
    font-size: 2.0rem;
    margin-bottom: 16px;
}

figure h4 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 16px;
}

figure h5 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 16px;
}

figure h6 {
    font-weight: 600;
    font-size: 1.0rem;
    margin-bottom: 16px;
}

@media screen and (max-width: 1280px) {
    h1 {
        font-weight: 900;
        font-size: 2.0rem;
    }
    
    h2 {
        font-weight: 800;
        font-size: 1.7rem;
    }
    
    h3 {
        font-weight: 700;
        font-size: 1.5rem;
    }
    
    h4 {
        font-weight: 600;
        font-size: 1.2rem;
    }
    
    h5 {
        font-weight: 600;
        font-size: 1.1rem;
    }
    
    h6 {
        font-weight: 600;
        font-size: 1.0rem;
    }
    
    figure h1 {
        font-weight: 900;
        font-size: 2.0rem;
        margin-bottom: 16px;
    }
    
    figure h2 {
        font-weight: 800;
        font-size: 1.7rem;
        margin-bottom: 16px;
    }
    
    figure h3 {
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 16px;
    }
    
    figure h4 {
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 16px;
    }
    
    figure h5 {
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 16px;
    }
    
    figure h6 {
        font-weight: 600;
        font-size: 1.0rem;
        margin-bottom: 16px;
    }
}

/*아티클 설정*/
article {
    width: 90%;
    margin-top: 32px;
}

/*버튼 설정*/
.btn-sqr {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-left: 10px;

    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-sqr:hover {
    background-color: var(--primary-color);
    color: #fff;
	-webkit-transition: .3s ease-in-out;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*카드*/
.card-bundle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
}
.text-card {
    width: 49%;
    padding: 10px;
    margin-bottom: 2%;

    box-shadow: 0 1px 2px rgba(0,0,0,0.16);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.text-card-title {
    line-height: 1.0;
    margin-bottom: 16px;
}

.text-card-exp {
    line-height: 1.6;
    margin-bottom: 16px;
}

.text-card-body {
    line-height: 1.6;
}

#text-card-btn {
    margin-left: calc(100% - 40px);
    
    background-color: var(--base-color1);
}

#text-card-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
	-webkit-transition: .3s ease-in-out;
}

/*네비게이션*/
header {
    width: 100%;
    height: 80px;
    Position: relative;
    padding: 0% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 95%;
    height: 60px;
    border-radius: 18px;
    padding: 10px;

    background-color: #fff;

    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-int {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 8px;

    margin-right: 10px;
}

.logo-int h4 {
    font-weight: 900;
    line-height: 1.0;
}

@media screen and (max-width: 480px) {
    .logo-int h4 {
        font-size: 1.2rem;
    }
}

#gnb {
    margin-right: 211.16px;
}

header nav li {
    float: left;
    border-radius: 8px;
    padding: 15px;
    margin: 0px 5px;
    font-weight: 600;
    font-size: 1.2rem;

}

header nav li:hover {
    background-color: var(--primary-color);
    color: #fff;
	-webkit-transition: .3s ease-in-out;
}

@media screen and (max-width: 1280px) {
    header #gnb {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    header #gnb-menu {
        display: none;
    }
}

#gnb-login {
    display: flex;
}

#gnb-login-link {
    display: none;
}

@media screen and (max-width: 1280px) {
    #gnb-login {
        display: none;
    }

    #gnb-login-link {
        display: flex;
    }
}

/*사이드 네비게이션*/
.side-nav {
    width: 100%;
    max-width: 990px;
    min-width: 300px;
    height: 450px;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

.side-nav #side-gnb {
    width:100%;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-nav #side-gnb li {
    width: 90%;
    height: 60px;
    border-radius: 16px;
    margin-bottom: 20px;

    background-color: var(--base-color1);

    font-weight: 600;
    font-size: 1.2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-nav #side-gnb li:hover {
    background-color: var(--primary-color);
    color: #fff;
	-webkit-transition: .3s ease-in-out;
}

.side-nav #side-gnb li a {
    width: 100%;
    height: 40px;
    border-radius: 16px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-nav #side-gnb button {
    margin-bottom: 10px;
}

/*메인 배너*/
figure {
    width: 100%;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-banner-text {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 0% 5% 100px 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;

    background-image: url("../image/mainbannerimage.jpg");
    background-size: cover;
}

#main-banner-text h1 {
    text-align: center;
    line-height: 1.0;
} 

#main-banner-text h4 {
    text-align: center;
    line-height: 1.0;
}

@media screen and (max-width: 768px) {
    #main-banner-text h4 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    #main-banner-text h1 {
        font-size: 2.0rem;
    }
}

#btn-login, #btn-login-link {
    padding: 10px;
    border-radius: 8px;

    background-color: var(--primary-color);
    color: var(--base-color1);
}

#btn-login:hover, #btn-login-link:hover {
    background-color: var(--base-color1);
    color: var(--primary-color);
    -webkit-transition: .3s ease-in-out;
}

#btn-login h4, #btn-login-link h4 {
    margin-bottom: 0px;
}

#btn-login {
    display: flex;
}

#btn-login-link {
    display: none;
}

@media screen and (max-width: 1280px) {
    #btn-login {
        display: none;
    }

    #btn-login-link {
        display: flex;
    }
}

/*로그인*/
.login-set {
    width: 100%;
    height: 300px;
    margin: 70px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-part {
    width: 80%;
    height: 60px;
    border-radius: 16px;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 600;

    background-color: var(--primary-color);

    display: flex;
    justify-content: left;
    align-items: center;
}

.login-part a {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-info {
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-info-link {
    height: 20px;
    width: 180px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    height: 20px;
    font-size: 10pt;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .copyright {
        font-size: 8pt;
    }
}

/*로그인 모달*/
#login-modal {
    width: 100%;
    height: calc(100vh - 80px);

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-popup {
    width: 500px;
    height: 640px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16), 0 4px 8px rgba(0,0,0,0.23);

    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;    
}

#login-popup {
    display: none;
}

.modal-popup-title {
    width: 80%;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-popup-title h4 {
    font-weight: 900;
}

/*로그인 페이지*/
#login {
    width: 100%;
    height: 100vh;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inside {
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title {
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title h2 {
    margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
    .login-title h2 {
        font-size: 2.0rem;
    }
}